/* You can add global styles to this file, and also import other style files */

/* Import Material theme*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300i,300,400,400i');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* Global Properties */

.wrap {
  max-width: 50rem;
  margin: 1rem auto 1rem;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-thin {
  font-weight: 300;
}

.font-indie {
  font-family: 'Indie Flower', cursive;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { vertical-align: sub; font-size: 18px; }
.material-icons.md-24 { vertical-align: sub; font-size: 24px; }
.material-icons.md-36 { vertical-align: sub; font-size: 36px; }
.material-icons.md-48 { vertical-align: sub; font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }